// ---------------------
// BasePlate main styles
// ---------------------

// Template Imports
// ----------------
@import "@{templateCommon}/bk-less-framework.less";     // BK LESS Framework

@import "@{templateLocal}/less/variables.less";         // Variables

@import "@{templateLocal}/less/widget-gallery.less";    // Gallery Widget
@import "@{templateLocal}/less/widget-slideshow.less";  // Slideshow Widget

@import "@{templateLocal}/less/forms-and-buttons.less"; // Forms and Buttons

@import "@{templateLocal}/less/header-style.less";

@import "@{templateLocal}/less/plugin-blog.less";       // Plugins
@import "@{templateLocal}/less/plugin-menu.less";
@import "@{templateLocal}/less/plugin-ecommerce.less";
@import "@{templateLocal}/less/basket-summary.less";



// Template Styles
// ---------------


code, pre, th, thead td {
    background-color: @color-swatch1;
}


// -----------------------------
// Links
// -----------------------------

a {
    .transition( all, 0.5s, ease );
}


// -----------------------------
// Widgets
// -----------------------------

.container .widget {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    @media only screen and (min-width: 1140px) {
        width: 960px; // 1140px - 10% for margins
        margin: 10px auto;
    }
}

// Widgets in Responsive Columns
.container {
    // Two Columns
    .columns-two-left,
    .columns-two-right,
    // Three Columns
    .columns-three-left,
    .columns-three-middle,
    .columns-three-right,
    // Four Columns
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {
        .widget {
            width: auto;
            margin: 10px 0;
            @media only screen and (min-width: 1140px) {
                width: auto;
                margin: 10px auto;
            }
        }
    }
}




// -----------------------------
// Feature
// -----------------------------

.feature {
    margin-bottom: 3em;
    @media @tablet {
        margin-bottom: 2.5em;
    }
    .background-image,
    .content-wrap {
        min-height: 500px;
        height: 500px;
    }
    .background-image {
        display: table;
        width: 100%;
        background-size: cover;
    }
    .content-wrap {
        position: relative;
        width: 100%;
        padding: 0;
        vertical-align: bottom;
        display: table-cell;
        text-align: center;
        background-color: rgba(0,0,0,0.1);
    }
    .content-inner-wrap {
        background-color: fade(@color-swatch1, 65%);
    }
    .headline,
    .strapline {
        width: 100%;
    }
    .headline {
        font-family: @font-swatch8-font-family;
        color: @font-swatch8-color;
        font-size: @font-swatch8-font-size;
        font-weight: @font-swatch8-font-weight;
        line-height: @font-swatch8-line-height;
        padding: 20px 20px 10px;
    }
    .strapline {
        font-family: @font-swatch9-font-family;
        color: @font-swatch9-color;
        font-size: @font-swatch9-font-size;
        font-weight: @font-swatch9-font-weight;
        line-height: @font-swatch9-line-height;
        padding: 10px 20px 20px;
    }
    .button {
        margin: 1em auto;
        background-color: darken(@font-swatch7-background-color-hover, 4%);
    }
    .button:hover {
        background-color: @font-swatch7-background-color;
    }
}

// Feature Image and Text Size on Tablet
@media @tablet {
    .feature {
        .background-image,
        .content-wrap {
            min-height: 350px;
            height: 350px;
        }
        .headline {
            font-size: bkscale(@font-swatch8-font-size, .8);
            line-height: bkscale(@font-swatch8-line-height, .8);
        }
        .strapline {
            font-size: bkscale(@font-swatch9-font-size, .9);
            line-height: bkscale(@font-swatch9-line-height, .9);
        }
    }
}

// Feature Image and Text Size on Mobile
@media @mobile {
    .feature {
        .background-image,
        .content-wrap {
            min-height: 250px;
            height: 250px;
        }
        .content-wrap {
            padding: 15px;
        }
        .headline {
            font-size: bkscale(@font-swatch8-font-size, .6);
            line-height: bkscale(@font-swatch8-line-height, .6);
        }
        .strapline {
            font-size: bkscale(@font-swatch9-font-size, .8);
            line-height: bkscale(@font-swatch9-line-height, .8);
        }
        .button {
            width: 90%;
        }
    }
}




// -----------------------------
// Tag link
// -----------------------------

.tag-link:after {
    content: "\002C";
}

.tag-item:last-child .tag-link:after {
    content: "";
}




// -----------------------------
// Content Widget
// -----------------------------

@media @mobile {
    h1 {
        font-size: bkscale(@font-swatch1-font-size,0.8);
        line-height: bkscale(@font-swatch1-line-height,0.8);
    }
    h2 {
        font-size: bkscale(@font-swatch2-font-size,0.8);
        line-height: bkscale(@font-swatch2-line-height,0.8);
    }
    h3 {
        font-size: bkscale(@font-swatch3-font-size,0.9);
        line-height: bkscale(@font-swatch3-line-height,0.9);
    }
    h4 {
        font-size: bkscale(@font-swatch4-font-size,0.9);
        line-height: bkscale(@font-swatch4-line-height,0.9);
    }
    p {
        font-size: bkscale(@font-swatch5-font-size,0.9);
        line-height: bkscale(@font-swatch5-line-height,0.9);
    }
}




// -----------------------------
// Blockquote
// -----------------------------

.content blockquote {
    position: relative;
    quotes: "“" "”" "“" "”";
    width: 80%;
    margin: 10px 0;
    padding: 20px 30px 20px 50px;
    border-left: 3px solid @color-swatch3;
    background-color: @color-swatch7;
    @media @mobile {
        margin-right: 0;
    }
    &:before {
        position: absolute;
        left: 20px;
        font-size: 40px;
        color: @color-swatch4;
    }
}




// -----------------------------
// Twitter Feed
// -----------------------------

.twitter .tweet-item {
    border-left: 3px solid @color-swatch3;
    background-color: @color-swatch7;
    padding: 20px;
    p {
        padding-bottom: 0;
    }
    .tweet-wrap {
        max-width: 80%;
    }
    .avatar {
        max-width: 16%;
        margin-right: 15px;
        @media @mobile {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
    .avatar-image {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    .tweet-wrap {
        max-width: 77%;
        @media @mobile {
            padding-left: 0;
            border: none;
            margin: 0 auto;
        }
    }
    .avatar,
    .tweet-wrap {
        display: inline-block;
        vertical-align: middle;
        @media @mobile {
            max-width: 100%;
            width: 100%;
        }
    }
    .account-link {
        font-family: @font-swatch3-font-family;
        color: @color-swatch3;
        font-size: @font-swatch5-font-size;
        font-weight: @font-swatch5-font-weight;
        line-height: @font-swatch5-line-height;
    }
    .tweet-metadata {
        font-size: 90%;
        .timestamp, .via {
            color: lighten(@color-swatch5, 15%)
        }
    }
    .timestamp {
        margin-right: 5px;
    }
}

// Three Columns on Tablet
.columns-three-left,
.columns-three-middle,
.columns-three-right {
    .twitter .tweet-item {
        .avatar {
            margin-bottom: 10px;
            margin-right: 0;
        }
        .tweet-wrap {
            padding-left: 0;
            border: none;
            margin: 0 auto;
        }
        .avatar,
        .tweet-wrap {
            max-width: 100%;
            width: 100%;
        }
    }
}

// Four Columns
.columns-four-first,
.columns-four-second,
.columns-four-third,
.columns-four-fourth {
    .twitter .tweet-item {
        .avatar {
            margin-bottom: 10px;
            margin-right: 0;
        }
        .tweet-wrap {
            padding-left: 0;
            border: none;
            margin: 0 auto;
        }
        .avatar,
        .tweet-wrap {
            max-width: 100%;
            width: 100%;
        }
    }
}




// -----------------------------
// Profile Widget: Twitter
// -----------------------------

.profile .twitter .tweet-item {
    text-align: center;
    .avatar {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .avatar-link {
        display: block;
        max-width: 48px;
        margin: 0 auto;
    }
    .avatar-image {
        margin: 0 auto;
    }
    .tweet-wrap {
        padding-left: 0;
        border: none;
        margin: 0 auto;
    }
    .avatar,
    .tweet-wrap {
        max-width: 100%;
        width: 100%;
    }
}




// -----------------------------
// Map Widget
// -----------------------------

.map {
    border: 1px solid darken(@color-swatch1, 8%);
}





// -----------------------------
// Click to Call Widget
// -----------------------------

.clicktocall {
    a:hover {
        text-decoration: none;
        cursor: text;
    }
    @media @mobile {
        .phone-number-link {
            width: 100%;
            padding: 8px 20px;
            text-align: center;
        }
        a:hover {
            cursor: pointer;
        }
        .label {
            color: @font-swatch7-color;
        }
    }
}




// -----------------------------
// Dropbox Label
// -----------------------------

.dropbox .label {
    margin-left: 10px;
}




// -----------------------------
// Image Widget
// -----------------------------

.imagewidget {
    .image-title {
        font-family:@font-swatch8-font-family;
        font-size:@font-swatch8-font-size;
        font-weight: @font-swatch8-font-weight;
        line-height:@font-swatch8-line-height;
        color: @font-swatch8-color;
        letter-spacing: @font-swatch8-letter-spacing;
    }
    .image-description {
        font-family:@font-swatch9-font-family;
        font-size:@font-swatch9-font-size;
        font-weight: @font-swatch9-font-weight;
        line-height:@font-swatch9-line-height;
        color: @font-swatch5-color;
        letter-spacing: @font-swatch9-letter-spacing;
    }
}




// -----------------------------
// Divider (Keyline)
// -----------------------------

hr.rule {
    height: 1px;
    background-color: darken(@color-swatch1, 8%);
}


// Horizontal rule in blog posts
hr {
    height: 3px;
    border: 0;
    margin-bottom: 18px;
    background-color: darken(@color-swatch7, 5%);
}




// -----------------------------
// Yelp
// -----------------------------


.yelpreview ul {
    list-style: none;
    margin: 16px 0;
}




// -----------------------------
// Footer
// -----------------------------

.template-footer {
    padding: 30px 0;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid darken(@color-swatch1, 8%);
}




// -----------------------------
// Profile Widget
// -----------------------------

.template-footer .profile {
    .address p {
        padding-bottom: 0;
    }
    .headline,
    .strapline,
    .description {
        @media @mobile {
            font-size: @font-swatch5-font-size;
            font-weight: @font-swatch5-font-weight;
            line-height: @font-swatch5-line-height;
        }
    }
}
